/* Webfont: Disturbance */
@font-face {
  font-family: 'Disturbance';
  src: url('../../fonts/Distu.woff') format('woff'),
    url('../../fonts/Distu.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: GothamHTF-Ultra */
@font-face {
  font-family: 'GothamHTFExtBd';
  src: url('../../fonts/GothaHTFUlt.woff') format('woff'),
    url('../../fonts/GothaHTFUlt.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: GothamHTF-Black */
@font-face {
  font-family: 'GothamHTFBlack';
  src: url('../../fonts/GothaHTFBla.woff') format('woff'),
    url('../../fonts/GothaHTFBla.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: Disturbance Bold */
@font-face {
  font-family: 'Disturbance Bold';
  src: url('../../fonts/DistuBol.woff') format('woff'),
    url('../../fonts/DistuBol.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: GothamHTF-Bold */
@font-face {
  font-family: 'GothamHTF-Bold';
  src: url('../../fonts/GothaHTFBol.woff') format('woff'),
    url('../../fonts/GothaHTFBol.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: GothamHTF-Book */
@font-face {
  font-family: 'GothamHTF-Book';
  src: url('../../fonts/GothaHTFBoo.woff') format('woff'),
    url('../../fonts/GothaHTFBoo.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

body {
  @apply font-sans;
}

.brand {
  @apply text-3xl font-medium text-indigo-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GothamHTFBlack', sans-serif;
  font-weight: bold;
}

p,
ul,
ol {
  font-family: 'GothamHTF-Book', sans-serif;
}
