// Import Tailwind base styles
@import 'tailwindcss/base';

// Import global styles
@import 'common/global';

// Import Tailwind components
@import 'tailwindcss/components';
// Import Tailwind utilities
@import 'tailwindcss/utilities';

/* Webfont: Disturbance */
@font-face {
  font-family: 'Disturbance';
  src: url('../fonts/Distu.woff') format('woff'),
    url('../fonts/Distu.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Webfont: Disturbance Bold */
@font-face {
  font-family: 'Disturbance Bold';
  src: url('../fonts/DistuBol.woff') format('woff'),
    url('../fonts/DistuBol.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

a.brand {
  font-family: 'Disturbance Bold', serif;
  font-size: 2.875rem;
}
